@import "./defaults/color"; /*this to import the color profile from color.scss from default folder */
@import "./componenets/header";
@import "./componenets/footer";


body {
    margin: 0;
    background-color: #a5a5a5;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



